<!DOCTYPE html>
html(lang="en").no-js
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:title", content="StreamAlive - Know immediately when your web stream stops working.")
        meta(property="og:url" content="https://streamalive.co.uk")
        meta(property="og:description" content="Constant monitoring for your audio web stream. Instant notification when it's offline.")
        meta(property="og:locale" content="en_GB")
        title StreamAlive
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css", integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/foundation-icons.css")
        link(rel="stylesheet", href="/css/streamalive.css")
        script(async, src="https://www.googletagmanager.com/gtag/js?id=G-3N59L3MXL7")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-3N59L3MXL7');       

    body(data-sticky-container)
        section.fullheight.hero-fullheight#top
            .hero-top
                div(data-sticky,data-options="marginTop:0;").top-bar
                    .top-bar-left
                        ul(data-smooth-scroll).menu
                            li.menu-text StreamAlive
                            li
                                a(href="#what-we-do") What We're Doing
                            li
                                a(href="#pricing") Pricing
                            li
                                a(href="#contact") Sign Up


            .hero-middle
                h1 Know immediately when your web stream stops working.
                h2 Constant monitoring for your audio web stream. Instant notification when it's offline.
            .hero-bottom.next-page-link
                p
                a(href="#what-we-do",data-smooth-scroll).fi-arrow-down.down-arrow
                p.photo-cred Photo by #[a(href="https://pixabay.com/users/benjaminhartwich-3910743/", target="_blank") Benjamin Hartwich on Pixabay]

        section.fullheight#what-we-do
            .content
                h2 What We're Doing
                p.h3 StreamAlive will continuously monitor your audio web stream in the cloud, and will alert you via email or SMS if your stream goes offline.
                .description
                    p No need to have your web stream open all the time to wait and see if it goes off-air - StreamAlive will notify you as soon as any change to your stream's uptime is detected.
                    p You can also monitor your stream's historical uptime via a dashboard, and see exactly when it went up and down.
                    p For developers, we're also building an API which will allow you to query the status of your streams in real time.
            .next-page-link
                p
                a(href="#pricing",data-smooth-scroll).fi-arrow-down.down-arrow
                p.photo-cred Photo by #[a(href="https://pixabay.com/users/colossuscloud-2086276/", target="_blank") ColossusCloud on Pixabay]

        section.fullheight#pricing
            .content
                h2 Pricing
                p.h3 We're planning a tiered pricing scheme:
                .tiers
                    .tier.card
                        h4.card-divider Free
                        .card-section
                            span.h5 £0/mo
                            ul
                                li 1 stream
                                li Uptime checked hourly
                                li 1 month of historical uptime data
                                li Email notifications
                                li No API access
                    .tier.card
                        h4.card-divider Basic
                        .card-section
                            span.h5 £5/mo
                            ul
                                li 3 streams
                                li Uptime checked each minute
                                li 6 months of historical uptime data
                                li Email notifications
                                li API access
                    .tier.card
                        h4.card-divider Pro
                        .card-section
                            span.h5 £9/mo
                            ul
                                li 5 streams
                                li Uptime checked each minute
                                li 1 year of historical uptime data
                                li Email and SMS notifications
                                li API access
                    .tier.card
                        h4.card-divider Super
                        .card-section
                            span.h5 £13/mo
                            ul
                                li Unlimited streams
                                li Continuous checking
                                li Unlimited historical uptime data
                                li Email and SMS notifications
                                li API access
            .next-page-link
                p
                a(href="#contact",data-smooth-scroll).fi-arrow-down.down-arrow
                p.photo-cred Photo by #[a(href="https://pixabay.com/users/studiobmedia-4863023/", target="_blank") studiobmedia on Pixabay]

        section.fullheight#contact
            .content
                h2 Sound good? Join the mailing list.
                p.h3 If you're interested in StreamAlive, sign up here and we'll let you know when it's ready.
                .description
                    //- iframe(src="https://cdn.forms-content.sg-form.com/b85961e9-4c58-11eb-a122-1a67d0726424")
                    if has_signed_up
                        p Cheers! We'll let you know when StreamAlive is ready to use.
                    else
                        form(action="#contact", method="post")
                            .grid-container
                                .grid-x.grid-padding-x
                                    .medium-4.medium-offset-4.cell
                                        input(type="email", name="email_address")
                                        button(type="submit").button Sign up!
                        p By submitting your email address here, you agree to be contacted by email about StreamAlive and it's development and features. We'll never spam you, and you can unsubscribe any time you like via a link in the emails.
                p For more info, email #[a(href="mailto:hello@streamalive.co.uk") hello@streamalive.co.uk]
            .next-page-link
                p
                //- a(href="#contact",data-smooth-scroll).fi-arrow-down.down-arrow
                p.photo-cred Photo by #[a(href="https://pixabay.com/users/erkanyavas-4368108/", target="_blank") erkanyavas on Pixabay]

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js", crossorigin="anonymous")
        script.
            $(document).foundation()